/venv/
/omerprojects/TwitterClassifierFolder/static/TwitterAPIKeys.txt
/omerprojects/TwitterClassifierFolder/models/FinalProject_5Classes_20twtpp_authors_Jo_la_ia_El_St/
/omerprojects/NudityDetector/Models/
/omerprojects/NudityDetector/Classes/Banana/
/omerprojects/NudityDetector/Classes/BathingSuite/
/omerprojects/NudityDetector/Classes/BreastMan/
/omerprojects/NudityDetector/Classes/BreastWoman/
/omerprojects/NudityDetector/Classes/Butt/
/omerprojects/NudityDetector/Classes/Peach/
/omerprojects/NudityDetector/Classes/Penis/
/omerprojects/NudityDetector/Classes/Vagina/
